<p id="notice"><%= notice %></p>
<b> Attendee(s) Name :</b>
<p>
  <% @attendees.each do |a| %>
    <%= a.name %>
    <%= link_to 'Delete Attendee' , {:controller => "meeting_types", :action => "delete_attendee" ,:attendee_id =>a.id}%>
    <br/>
  <% end %>
</p>

