<h1>Meetings Home</h1>
<%= link_to 'Create a new meeting',meetings_path %> <br />
<%= link_to 'Add Attendee' , attendees_path %> <br />
<%= link_to 'Create a Meeting Type' , meeting_types_path %> <br />